Repository danbfiorotto/Dra-bruna, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dra-bruna/team, @dra-bruna/design-team, @dra-bruna/frontend-team, @dra-bruna/backend-team, @dra-bruna/devops-team, @dra-bruna/security-team

.github/CODEOWNERS:

# Code Owners - Sistema Dra. Bruna
# Este arquivo define quem deve revisar mudanças em diferentes partes do código

# Arquivos de configuração e documentação
/.github/ @dra-bruna/team
/README.md @dra-bruna/team
/CONTRIBUTING.md @dra-bruna/team
/docs/ @dra-bruna/team

# Design system e tokens
/design-tokens/ @dra-bruna/design-team

# Site institucional
/site-bruna/ @dra-bruna/frontend-team

# Aplicativo desktop
/app-bruna/ @dra-bruna/frontend-team
/app-bruna/src-tauri/ @dra-bruna/backend-team

# CI/CD e workflows
/.github/workflows/ @dra-bruna/devops-team

# Configurações de segurança
/SECURITY.md @dra-bruna/security-team
/rustfmt.toml @dra-bruna/backend-team

Atualizar .gitignore para ignorar pasta target do Tauri e remover arquivos de build
  .gitignore
Owners: none

docs: Adicionar documentação de migração e esquemas
  MIGRATION_TO_ONLINE_SUPABASE.md
  database-schema-diagram.md
  supabase-schema.sql
Owners: none

feat: Implementar sistema completo de documentos e melhorias na UI
  app-bruna/migration-clinics.sql
  app-bruna/src/App.tsx
  app-bruna/src/components/CalendarView.tsx
  app-bruna/src/components/DocumentViewer.tsx
  app-bruna/src/components/Layout.tsx
  app-bruna/src/components/MedicalRecordForm.tsx
  app-bruna/src/components/PatientDetailsModal.tsx
  app-bruna/src/components/ui/badge.tsx
  app-bruna/src/config/supabase.ts
  app-bruna/src/hooks/useAuth.ts
  app-bruna/src/hooks/useDragAndDrop.ts
  app-bruna/src/hooks/useKeyboardShortcuts.ts
  app-bruna/src/hooks/useMedicalRecords.ts
  app-bruna/src/pages/Appointments.tsx
  app-bruna/src/pages/Clinics.tsx
  app-bruna/src/pages/Documents.tsx
  app-bruna/src/pages/MedicalRecords.tsx
  app-bruna/src/pages/Reports.tsx
  app-bruna/src/services/encryption.ts
  app-bruna/src/services/pdfGenerator.ts
  app-bruna/src/services/supabase/appointments.ts
  app-bruna/src/services/supabase/clinics.ts
  app-bruna/src/services/supabase/documents.ts
  app-bruna/src/services/supabase/index.ts
  app-bruna/src/services/supabase/medicalRecords.ts
  app-bruna/src/services/supabase/patients.ts
  app-bruna/src/types/appointment.ts
  app-bruna/src/types/clinic.ts
  app-bruna/src/types/document.ts
  app-bruna/src/types/medicalRecord.ts
Owners: @dra-bruna/frontend-team

feat: implementar sistema de pesquisa simplificado e design limpo dos cards
  app-bruna/src/components/ProtectedRoute.tsx
  app-bruna/src/hooks/useAuth.ts
  app-bruna/src/pages/MedicalRecords.tsx
Owners: @dra-bruna/frontend-team

feat: implementar dashboard completo com cards de ranking e distribuição
  app-bruna/DASHBOARD_IMPLEMENTATION.md
  app-bruna/dashboard-functions.sql
  app-bruna/src-tauri/tauri.conf.json
  app-bruna/src/components/ActivityFeed.tsx
  app-bruna/src/components/ClinicRanking.tsx
  app-bruna/src/components/DashboardFilters.tsx
  app-bruna/src/components/DonutDistribution.tsx
  app-bruna/src/components/KpiCard.tsx
  app-bruna/src/components/Layout.tsx
  app-bruna/src/components/StackedBar.tsx
  app-bruna/src/components/TodayList.tsx
  app-bruna/src/components/WeeklyBarChart.tsx
  app-bruna/src/hooks/useClinics.ts
  app-bruna/src/hooks/useDashboard.ts
  app-bruna/src/index.css
  app-bruna/src/pages/Dashboard.tsx
  app-bruna/src/services/supabase/dashboard.ts
  app-bruna/src/types/dashboard.ts
Owners: @dra-bruna/frontend-team, @dra-bruna/backend-team

feat: melhorias na página de agendamentos e componente toggle-group
  app-bruna/src/components/ui/toggle-group.tsx
  app-bruna/src/pages/Appointments.tsx
Owners: @dra-bruna/frontend-team

Update .gitignore and add environment files
  .gitignore
  app-bruna/.env
  app-bruna/src-tauri/.env
Owners: @dra-bruna/frontend-team, @dra-bruna/backend-team
